body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

body {
  display: table; }

.container {
  display: table-cell;
  vertical-align: middle; }

body {
  text-align: center;
  font-family: "Roboto", Sans-Serif;
  font-weight: 400; }

strong, #countdown {
  font-weight: 900; }

em, #title {
  font-style: italic;
  font-weight: 400; }

body > footer, body > header {
  position: absolute;
  top: 10px;
  font-size: 1vw; }

body > footer a, body > header a {
  color: inherit;
  padding: 0 5px; }

body > header {
  left: 10px; }

body > footer {
  right: 10px;
  text-align: right; }

#title {
  font-size: 5vw; }

#target {
  font-size: 2.5vw; }

#countdown {
  font-size: 15vw; }

#countdown .no-days {
  font-size: 20vw; }

body.theme-49ers #countdown {
  text-shadow: 5px 5px 0px #000; }

body.theme-default {
  background: #fff; }

body.theme-default #countdown {
  color: #000000; }

body.theme-default #title, body.theme-default #target {
  color: #b9b9b9; }

body.theme-default a {
  color: #000000; }

body.theme-autumn {
  background: #003049; }

body.theme-autumn #countdown {
  color: #f77f00; }

body.theme-autumn #title, body.theme-autumn #target {
  color: #d62828; }

body.theme-autumn a {
  color: #f77f00; }

body.theme-white {
  background: #fff; }

body.theme-white #countdown {
  color: #444444; }

body.theme-white #title, body.theme-white #target {
  color: #b9b9b9; }

body.theme-white a {
  color: #444444; }

body.theme-dark {
  background: #000; }

body.theme-dark #countdown {
  color: #ffffff; }

body.theme-dark #title, body.theme-dark #target {
  color: #b9b9b9; }

body.theme-dark a {
  color: #ffffff; }

body.theme-amber {
  background: #1c1800; }

body.theme-amber #countdown {
  color: #ffd400; }

body.theme-amber #title, body.theme-amber #target {
  color: #aa8d00; }

body.theme-amber a {
  color: #ffd400; }

body.theme-ice {
  background: #bfdbf7; }

body.theme-ice #countdown {
  color: #1f7a8c; }

body.theme-ice #title, body.theme-ice #target {
  color: #022b3a; }

body.theme-ice a {
  color: #1f7a8c; }

body.theme-matrix {
  background: #0D0208; }

body.theme-matrix #countdown {
  color: #00FF41; }

body.theme-matrix #title, body.theme-matrix #target {
  color: #008F11; }

body.theme-matrix a {
  color: #00FF41; }

body.theme-monokai {
  background: #272822; }

body.theme-monokai #countdown {
  color: #FD971F; }

body.theme-monokai a {
  color: #FD971F; }

body.theme-49ers {
  background: #a00; }

body.theme-49ers #countdown {
  color: #fff; }

body.theme-49ers a {
  color: #fff; }

body.theme-china {
  background: #de2910; }

body.theme-china #countdown {
  color: #ffde00; }

body.theme-china #title, body.theme-china #target {
  color: #ffde00; }

body.theme-china a {
  color: #ffde00; }

body.theme-red {
  background: #8b0404; }

body.theme-red #countdown {
  color: #ff0000; }

body.theme-red #title, body.theme-red #target {
  color: #ff0000; }

body.theme-red a {
  color: #ff0000; }

body.theme-green {
  background: #216821; }

body.theme-green #countdown {
  color: #00ff00; }

body.theme-green #title, body.theme-green #target {
  color: #20cf20; }

body.theme-green a {
  color: #00ff00; }

body.theme-summer {
  background: #c9cba3; }

body.theme-summer #countdown {
  color: #e26d5c; }

body.theme-summer #title, body.theme-summer #target {
  color: #ffe1a8; }

body.theme-summer a {
  color: #e26d5c; }

body.theme-fire {
  background: #710000; }

body.theme-fire #countdown {
  color: #c36f09; }

body.theme-fire #title, body.theme-fire #target {
  color: #f4e409; }

body.theme-fire a {
  color: #c36f09; }

body.theme-pink {
  background: #fbc4ab; }

body.theme-pink #countdown {
  color: #f08080; }

body.theme-pink #title, body.theme-pink #target {
  color: #f4978e; }

body.theme-pink a {
  color: #f08080; }

body.theme-europe {
  background: #039; }

body.theme-europe #countdown {
  color: #ffcc00; }

body.theme-europe #title, body.theme-europe #target {
  color: #039; }

body.theme-europe a {
  color: #ffcc00; }

body.theme-cola {
  background: #f40009; }

body.theme-cola #countdown {
  color: #fff; }

body.theme-cola #title, body.theme-cola #target {
  color: #fff; }

body.theme-cola a {
  color: #fff; }

body.theme-pepsi {
  background: #fff; }

body.theme-pepsi #countdown {
  color: #C9002B; }

body.theme-pepsi #title, body.theme-pepsi #target {
  color: #004B93; }

body.theme-pepsi a {
  color: #C9002B; }

body.theme-usa {
  background: #fff; }

body.theme-usa #countdown {
  color: #b22234; }

body.theme-usa #title, body.theme-usa #target {
  color: #3c3b6e; }

body.theme-usa a {
  color: #b22234; }
