body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: table;
}

.container {
  display: table-cell;
  vertical-align: middle;
}

body {
  text-align: center;
  font-family: "Roboto", Sans-Serif;
  font-weight: 400;
}

strong, #countdown {
  font-weight: 900;
}

em, #title {
  font-style: italic;
  font-weight: 400;
}

#title {
  font-size: 5vw;
}

#target {
  font-size: 3.25vw;
}

#countdown {
  font-size: 15vw;
}
#countdown .no-days {
  font-size: 20vw;
}


body.theme-dark {
  background: #222;
  color: #fff;
}
body.theme-dark #target {
  color: #b9b9b9;
  font-size: 2.5vw;
}


body.theme-monokai {
  background: #272822;
  color: #F8F8F0;
}
body.theme-monokai #target {
  color: #49483E;
}
body.theme-monokai #countdown {
  color: #FD971F;
}


body.theme-winter {
  background: #001D29;
  color: #93B8C2;
}
body.theme-winter #target {
  color: #236475;
}
body.theme-winter #countdown {
  color: #DCEFF5;
}



body.theme-summer {
  background: #FFD6A0;
  color: #ACBD86;
}
body.theme-summer #target {
  color: #28544B;
}
body.theme-summer #countdown {
  color: #FF302C;
}
